In [6]:
import pandas as pd

In [10]:
data=pd.read_csv("https://raw.githubusercontent.com/lovingdreams/fsdsmendtoend/main/train.csv")
data.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [12]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
165511,165511,1.01,Premium,H,SI2,61.9,59.0,6.41,6.36,3.95,3903
126324,126324,1.13,Ideal,D,SI2,61.1,54.0,6.77,6.74,4.12,5239
20450,20450,0.51,Premium,D,VS2,60.6,60.0,5.16,5.18,3.13,1787
62428,62428,0.41,Good,E,VVS1,64.1,56.0,4.68,4.71,3.01,988
110955,110955,0.30,Ideal,F,VVS2,61.4,55.0,4.34,4.37,2.67,945
29744,29744,0.31,Ideal,E,VS2,62.0,55.0,4.33,4.36,2.70,626
95642,95642,1.01,Very Good,G,VVS1,63.3,57.0,6.37,6.34,4.02,6985
36194,36194,0.42,Very Good,D,VS2,62.5,58.0,4.77,4.79,2.99,1226
31187,31187,0.72,Ideal,J,SI1,61.3,54.0,5.76,5.80,3.54,1996
52260,52260,1.25,Ideal,I,VS2,62.0,57.0,6.88,6.95,4.29,6230

In [13]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [14]:
data.size

2129303

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [17]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [20]:
num_columns=data.columns[data.dtypes!="object"]

In [21]:
data[num_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      193573 non-null  int64
 1   carat   193573 non-null  float64
 2   depth   193573 non-null  float64
 3   table   193573 non-null  float64
 4   x       193573 non-null  float64
 5   y       193573 non-null  float64
 6   z       193573 non-null  float64
 7   price   193573 non-null  int64
dtypes: float64(6), int64(2)
memory usage: 11.8 MB

In [23]:
cat_columns=data.columns[data.dtypes=="object"]

In [24]:
data[cat_columns]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]